.auth-container {
    display: flex;
    flex-direction: column; /* L'un sous l'autre sur mobile */
    gap: 40px;
    width: 100%;
    max-width: 900px;
    margin: 10% 4%;
}

/* Style de chaque carte de formulaire */
.form-card {
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(0, 36, 107, 0.05);
}

.form-card h2 {
    font-family: var(--font-heading);
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center;
}

.form-card input {
    width: 100%;
    padding: 14px 18px;
    border: 1.5px solid #eee;
    border-radius: 10px;
    font-family: var(--font-body);
    font-size: 1rem;
    transition: 0.3s;
    background-color: #f9f9f9;
}

.form-card input:focus {
    outline: none;
    border-color: var(--primary-color);
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 36, 107, 0.1);
}

.form-card .btn-reserve {
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

.form-card .btn-reserve:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

/* Message d'erreur ou succès */
.auth-msg {
    margin-bottom: 20px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: rgba(0, 36, 107, 0.1);
    color: var(--primary-color);
    font-family: var(--font-body);
    font-weight: bold;
    text-align: center;
}

/* --- DASHBOARD MEMBRE --- */
.dashboard-card {
    background: white;
    padding: 50px;
    border-radius:  20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    max-width: 80%;
    width: 100%;
    margin: 6% 0;
}

.dashboard-card h1 {
    font-family: var(--font-heading);
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.dashboard-card p {
    font-family: var(--font-body);
    color: var(--text-color);
    font-size: 1.1rem;
    margin-bottom: 25px;
}

/* --- RESPONSIVE DESKTOP --- */
@media screen and (min-width: 768px) {
    .auth-container {
        flex-direction: row; /* Côte à côte sur ordi */
        align-items: stretch;
    }

    .form-card {
        transition: transform 0.3s ease;
    }

    .form-card:hover {
        transform: translateY(-5px);
    }
}