* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */

/* colors */
:root {
    --primary-color: #00246B;
    --secondary-color: #;
    --accent-color: white;
    --text-color: black;
}

/* fonts */

@font-face {
    font-family: 'Clash Display';
    src: url('fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

/* Header styles */

nav {
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 7%;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 70px;
    width: auto;
    display: block;
}

.btn-reserve {
    border: 2px solid var(--primary-color);
    border-radius: 32px;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-right: 20%;
    text-decoration: none;
    color: var(--accent-color);
    white-space: nowrap;
    background-color: var(--primary-color);
    font-family: 'clash display', sans-serif;
}

.btn-reserve:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transition: 0.3s;
}

.nav-right {
    display: flex;
    align-items: center;
}

nav a.icon {
    font-size: 2.4em;
    text-decoration: none;
    color: var(--primary-color);
}

#myLinks {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myLinks a {
    font-size: 2.5em;
    margin: 1.2% 0;
    width: auto;
    text-align: center;
    color: var(--primary-color);
    font-family: 'Clash Display', sans-serif;
    position: relative;
    padding: 5px 0;
}

#myLinks a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: width 0.3s ease, left 0.3s ease;
}

#myLinks a:hover::after {
    width: 100%;
    left: 0;
}

.line {
    width: 69%;
    border: 1px solid var(--primary-color);
    margin: 2% 0;
}

/* Footer styles */

