* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles -----------------------------------------------*/

/* colors */
:root {
    --primary-color: #00246B;
    --secondary-color: #;
    --accent-color: white;
    --background-color: #FAF9F6;
    --text-color: black;
    --input-border: #8e8e8e;       
    --input-focus: var(--primary-color);
    --font-heading: 'Clash Display', sans-serif; 
    --font-body: 'Nunito', sans-serif;
}

body {
    background-color: var(--background-color);
}

/* fonts ----------------------------------------------------*/

@font-face {
    font-family: 'Clash Display';
    src: url('fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* class styles -----------------------------------------------*/

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

/* Header styles -----------------------------------------------*/

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    position: relative; 
    z-index: 10;
    background-color: rgba(250, 249, 246, 0); 
    backdrop-filter: blur(8px);
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    height: 70px;
    width: auto;
    display: block;
    transition: 0.3s;
}

.logo img:hover {
    transform: scale(1.07);
    transition: 0.3s;
}

.btn-reserve {
    border: 2px solid var(--primary-color);
    border-radius: 32px;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-right: 20%;
    text-decoration: none;
    color: var(--accent-color);
    white-space: nowrap;
    background-color: var(--primary-color);
    font-family: 'clash display', sans-serif;
}

.btn-reserve:hover {
    background-color: rgba(250, 249, 246, 0); 
    transition: 0.3s;
}

.nav-right {
    display: flex;
    align-items: center;
}

nav a.icon {
    font-size: 2.4em;
    text-decoration: none;
    color: var(--primary-color);
}

#myLinks {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myLinks a {
    font-size: 2em;
    margin: 1.2% 0;
    width: auto;
    text-align: center;
    color: var(--primary-color);
    font-family: 'Clash Display', sans-serif;
    position: relative;
    padding: 5px 0;
}

#myLinks a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: width 0.3s ease, left 0.3s ease;
}

#myLinks a:hover::after {
    width: 100%;
    left: 0;
}

.line {
    width: 69%;
    border: 1px solid var(--primary-color);
    margin: 2% 0;
}

/* Footer styles -----------------------------------------------*/

footer {
    height: auto;
    margin: 24% 5% 0 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-links {
    display: none;
}

footer h3 {
    font-family: 'Clash Display', sans-serif;
    color: var(--primary-color);
    margin: 1.7em 0 0 0;
}

footer a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Nunito', sans-serif;
    display: block;
    margin: 8px 0;
}

#footer-social a{
    margin: 0.5em 3%;
    color: var(--primary-color);
    font-size: 2.7em;
    width: fit-content;
    transition: 0.3s;
}

#footer-social a:hover i {
    transform: scale(1.1);
    transition: 0.3s;
}

footer li {
    list-style: none;
    margin: 0.7em 0;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
}

#footer-bas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-bas ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-bas a {
    text-decoration: underline;
    transition: 0.3s;
    width: fit-content;
    margin: 0.1em 0;
    font-size: 0.9em;
}

#footer-bas a:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

footer .line {
    width: 90%;
    margin: 2em 0;
}

#footer-bas p {
    margin: 2em 0;
    font-family: 'Nunito', sans-serif;
}

/* ------------------------------------------------------------- */

